:root {
    --font: #000;
    --title: 24px;
    --list: #ff6600;
    --background: #fff;
}

.nav-link {
    color: var(--font);
}

/* makes background white */
.navbar {
    background-color: var(--background);
}

/* anchor changes to red when user hovers */
a:hover {
    color: red;
}

.jumbotron {
    background-color: var(--background);
    background-image: url("../images/background.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* for text to appear over jumbotron */
.jumbo-content {
    text-align: left;
    color: #fff;
    font-weight: bolder;
}

/* places orange outline around cards */
.card {
    border:2px solid #FFAA33;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
}

/* creates illusion for user to zoom into photo */
.card-img-top {
    cursor: zoom-in;
}

/* pushes cards away from edge of page */
.card-spacing {
margin: 0 22px;
}

.list {
    color: #000;
    list-style-type: circle;
}

.navbar-brand {
    font-size: var(--title);
    font-size: 25px;
    color: red;
}

/* places titles to the left */
#work-title, #Expectations {
    color: blue;
    text-align: left;
    margin: 10px;
}

#Expectations {
    margin: 30px;
}

#work-title {
    margin: 20px;
}

#about-title {
    margin: 0px 7.5px;
    color: blue;
}

.about-section {
    margin-top: 40px;
}

#contact-me {
    margin-top: 40px;
    background-color: #E2DFD2;
}



/* places backlinks in the center of the page */
.row-links {
    display: flex;
    justify-content: center;
}

/* adds spacing between social anchors */
.socials a {
    padding: 10px;
    text-decoration: underline;
    font-size: large;
}

.socials {
    margin: 0;
}

/* color for last visited text in card */
#card-color {
    color: red;
    font-size: 12px;
}

button {
    padding: 8px;
    border-radius: 12px;
    border: 2px solid blue;
}

/* to remove underline from button */ 
#button {
    text-decoration: none;
}

/* box shadow for button */ 
button:hover {
    transition-duration: 0.7s;
    box-shadow: 10px 5px 5px red;
}

/* Media queries */ 


/* For tabelet users */ 
@media only screen and (max-width: 780px ) {
    /* increases font size for paaragraph */
    .about-text {
        font-size: 22px;
    }
    /* increases font size in skill section */
    .list {
        font-size: 24px;
    }
    /* increases font size within bootstrap cards */
    .card-text {
        /* Font size for text in about me section */ 
        font-size: 22px;
    }
    /* aligns titles to middle */
    #work-title{
        text-align: center;
    }
    #Expectations {
        text-align: center;
    }
    /* Create some spacing between title & content */
    #about-title {
        text-align: center;
        margin-bottom: 10px;
    }
    #card-color {
        font-size: 16px;
    }
    /* Increase font size for jumbotron text */
    .lead {
        font-size: 24px;
    }
    .socials {
        /* increase font size for social anchors */ 
        font-size: 22px;
    }
}

/* For phone users e.g Iphone */ 
@media only screen and (max-width: 480px ) {
    /* increases font size for paragraph */
    .about-text {
        font-size: 20px;
    }
    /* increases font size in skill section */
    .list {
        font-size: 18px;
    }
    /* increases font size within bootstrap cards */
    .card-text {
        font-size: 18px;
    }
    #work-title{
        text-align: center;
    }
    #Expectations {
        text-align: center;
    }
    #about-title {
        text-align: center;
        margin-bottom: 10px;
    }
}