:root {
    --font: #000;
    --title: 24px;
    --list: #ff6600;
    --background: #fff;
}

.nav-link {
    color: var(--font);
}

/* makes background white */
.navbar {
    background-color: var(--background);
}

/* anchor changes to red when user hovers */
a:hover {
    color: red;
}

.jumbotron {
    background-color: var(--background);
    background-image: url("../images/background.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.jumbo-content {
    text-align: left;
    color: #fff;
}

/* places orange outline around cards */
.card {
    border:2px solid #FFAA33;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
}

/* creates illusion for user to zoom into photo */
.card-img-top {
    cursor: zoom-in;
}

/* pushes cards away from edge of page */
.card-spacing {
margin: 0 22px;
}

.list {
    color: #000;
    list-style-type: circle;
}

.navbar-brand {
    font-size: var(--title);
    font-size: 25px;
    color: red;
}

/* places titles to the left */
#work-title, #Expectations {
    color: blue;
    text-align: left;
    margin: 10px;
}

#Expectations {
    margin: 30px;
}

#work-title {
    margin: 20px;
}

#about-title {
    margin: 0px 7.5px;
    color: blue;
}

.about-section {
    margin-top: 40px;
}

.contact-me {
    margin-top: 40px;
    background-color: #E2DFD2;
}

/* places backlinks in the center of the page */
.row-links {
    display: flex;
    justify-content: center;
}

/* adds spacing between social anchors */
.socials a {
    padding: 10px;
    text-decoration: underline;
    font-size: large;
}

.socials {
    margin: 0;
}

/* color for last visited text in card */
#card-color {
    color: red;
    font-size: 12px;
}